.fio{
    display: flex;
    margin-right: 30px;
}

body{
    margin: 0 auto;
    border-spacing: 0;
    padding: 0;
}

.roof{
    height: 30px;
    background: -webkit-linear-gradient(top, #ff0000, #ffcfcf);
    background: -o-linear-gradient(top, #ff0000, #ffcfcf);
    background: -ms-linear-gradient(top, #ff0000, #ffcfcf);
}

.center{

}