/*================================================================================   Fio_Input   ===========================================================*/
.inp{
    display: block;
    margin: 0 auto;
    width: 410px;
    height: 45px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    transition: 0.3s;
    padding-left: 10px;
    border-radius: 5px;
}

.inp:hover{
    border: 1px solid #64656a;
}

.zag{
    padding-top: 10px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
}

.register_form{
    font-family: 'Montserrat';
    width: 450px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 100px;
    border-radius: 15px;
    box-shadow: 0 0 8px 7px #f4f4f4;
    min-height: 420px;
}

.check{
    display:flex;
    flex-direction: column;
}

.register_btn{
    margin: 0 auto;
    width: 410px;
    height: 45px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    transition: 1s;
    padding-left: 10px;
    background-color: #ff8d1e;
    color: #fffff0;
    transition: 0.5s;
    font-weight: 700;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 0 8px 1px #f4f4f4;
}

.register_btn:hover{
    color: #333333;
    background-color: #4b92dc;
}

.form_container{
    width: 410px;
    margin: 0 auto;
    p{
        margin-top: 10px;
    }
}