/*================================================================================   Fio_Input   ===========================================================*/
.inp{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 45px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    transition: 0.3s;
    padding-left: 10px;
    border-radius: 5px;
}

.inp:hover{
    border: 1px solid #64656a;
}

.zag{
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
}

.zagol{
    color: white;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
}

.register_form{
    color: white;
    font-family: 'Montserrat';
    width: 450px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 100px;
    border-radius: 15px;
    box-shadow: 0 0 8px 7px #f4f4f4;
    min-height: 420px;
}

.check{
    display:flex;
    flex-direction: column;
}

.register_btn{
    margin: 0 auto;
    width: 410px;
    height: 45px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    transition: 1s;
    padding-left: 10px;
    background-color: #ff8d1e;
    color: #fffff0;
    transition: 0.5s;
    font-weight: 700;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 0 8px 1px #f4f4f4;
}

.register_btn:hover{
    color: #333333;
    background-color: #4b92dc;
}

.form_container{
    width: 410px;
    margin: 0 auto;
    p{
        margin-top: 10px;
    }
}

.form_radio_btn {
	display: inline-grid;
	margin-right: 7px;
	margin-bottom: 10px;
	width: 70px;

}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	background: #ffe0a6;
}

/* Hover */
.form_radio_btn label:hover {
	color: #666;
}

/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}

.hr-line {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid white;
}

.form_radio_kab_btn {
	display: inline-grid;
	margin-right: 7px;
	margin-bottom: 10px;
	width: 60px;

}
.form_radio_kab_btn input[type=radio] {
	display: none;
}
.form_radio_kab_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}

/* Checked */
.form_radio_kab_btn input[type=radio]:checked + label {
	background: #ffe0a6;
}

/* Hover */
.form_radio_kab_btn label:hover {
	color: #666;
}

/* Disabled */
.form_radio_kab_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}
