h1{
    color: red;
    width: 700px;
    font-size: 35px;
}
.header{
    color: red;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
}
.menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
    grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". a . b ."
    ". . . . .";
    align-items: start;
}

.terminal{
    background: red;
    width: 500px;
    height: 120px;
    text-align: center;
    padding-top: 50px;
    font-size: 60px;
    border-radius: 50px;
    transition: 1s;
    box-shadow: 0 0 8px 7px #f4f4f4;
}

.terminal:hover{
    background: green;
}

.link1{
    grid-area: a;
}

.link2{
    grid-area: b;
}