!<!doctype html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
        <title>{% block title %} {% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="head">
                    <div class="head roof">

                    </div>
                    <div class="head center">

                    </div>
                    <div class="head floor">

                    </div>
                </div>
            </div>
        </header>
    <main>

    </main>
    <footer>

    </footer>
    <a href="/">Главная</a>
    <a href="/fio_input">Ввод</a>
    <a href="/info">Информация</a>
    {% block body %} {% endblock %}
    </body>
</html>