{% extends 'base.html' %}

{% block title %}
Ввод имени
{% endblock %}
{% block head %}

{% endblock %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fio_input.css')}}">
<div  class="register_form">
    <div class="form_container">
        <div class="zag">
            <p>Запись</p>
        </div>
        <form method="post">
            <p>Фамилия</p>
            <input type="text" id="surname" class="inp" name="surname"  placeholder="Иванов">
            <p>Имя</p>
            <input type="text" id="name" class="inp" name="name" placeholder="Иван">
            <p>Отчество</p>
            <input type="text"  id="middle_name"class="inp" name="middle_name" placeholder="Иванович">
            <hr class="hr-line">
            <div class="zagol">
                <p>Выберите кабинет</p>
            </div>
            <div class="kab"></div>
            <div class="on-hover">
                Видимый
            </div>
            <div class="hidden-block">
                Скрытый
            </div>
            <hr class="hr-line">
            <div class="time"></div>
            <input class="register_btn" type="submit" value="Отправить"></input>
        </form>
    </div>
</div>
<script src="../static/js/validators.js"></script>
<script src="../static/js/register.js"></script>
{% endblock %}