{% extends 'base.html' %}

{% block title %}
Ввод имени
{% endblock %}

{% block main %}
<div  class="register_form">
    <div class="form_container">
        <div class="zag">
            <p>Регистрация</p>
        </div>
        <form method="post">
            <p>Фамилия</p>
            <input type="text" id="surname" class="inp" name="surname"  placeholder="Иванов">
            <p>Имя</p>
            <input type="text" id="name" class="inp" name="name" placeholder="Иван">
            <p>Отчество</p>
            <input type="text"  id="middle_name"class="inp" name="middle_name" placeholder="Иванович">
            <input class="register_btn" type="submit" value="Отправить"></input>
        </form>
    </div>
</div>
{% endblock %}